$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.mainWrapper {
	height: auto;
}
.container {
	width: 100%;
}
.spacer {
	display: inline-block;
	height: 100%;
}
.formContainer {
	width: 100%;
}
.main {
	height: 100%;
	padding: 2rem 0;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	margin: 1%;
	margin-top: 5%;
	margin-bottom: 4%;
	font-size: 3.5rem;
	text-align: center;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
}
.formWrapper {
	width: 100%;
	align-items: center;
}
.input {
	display: block;
	width: 85%;
	margin: auto;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2rem;
}
.button {
	display: block;
	width: 45%;
	margin: auto;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2rem;
}
.checklistContainer {
	display: flex;
	margin: auto;
	border-radius: 1rem;
	width: 50%;
}
.checklistFlex {
	display: flex;
	margin-bottom: 5%;
}
.checklistWrapper {
	display: flex;
	border: solid black 1px;
	border-radius: 1rem;
	margin-right: 5%;
	padding-right: 0.75%;
	font-size: 1.5rem;

	&:hover {
		background: #5c79f9;
	}
}
.iframeGrid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
}
.iStyle {
	height: 100rem;
	width: 80%;
	margin-right: 6%;
	margin-bottom: 8%;
}
.footer {
	width: 100%;
	border-top: 0.1rem solid #eaeaea;
}
.footerAbsolute {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 0.1rem solid #eaeaea;
}
.footerText {
	text-align: right;
	margin-right: 4%;
	font-size: 1.6rem;
}

@include sm {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
	}
	.title {
		display: grid;
		margin-top: 2%;
		margin-bottom: auto;
		margin-left: 1.5%;
		line-height: 1.15;
		justify-items: left;
		font-size: 5rem;
	}
	.input {
		display: inline-block;
		width: 50%;
		margin: 1%;
		margin-left: 0.5%;
		font-size: 2rem;
	}
	.button {
		display: inline-block;
		width: 18%;
		font-size: 2rem;
	}
	.formWrapper {
		margin: 1%;
		width: 100%;
		justify-items: left;
	}
	.checklistContainer {
		margin: 1%;
		margin-left: 1.7%;
	}
	.iStyle {
		width: 80%;
		margin-right: 6%;
	}
}

@include md {
	.title {
		font-size: 5.6rem;
	}
	.input {
		width: 40%;
		font-size: 2.5rem;
	}
	.button {
		width: 18%;
		font-size: 2.5rem;
	}
	.checklistWrapper {
		font-size: 1.6rem;
	}
	.iframeGrid {
		grid-template-columns: 1fr 1fr;
	}
}

@include lg {
	.title {
		font-size: 5.6rem;
	}
	.footerText {
		margin-right: 2%;
		font-size: 1.6rem;
	}
}

@include xl {
	.title {
		margin-top: 1%;
		font-size: 6rem;
	}
	.input {
		width: 35%;
	}
	.footerText {
		font-size: 1.8rem;
	}
}
